
<div class="flex justify-center items-center h-screen">
  <main class="flex flex-col rounded-md border-gray-200 border-2 border-solid p-16">
    <h1>Welcome to POS System</h1>
    <p class="text-center text-gray-600">Enter your login credentials to continue</p>
    <div class="mt-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Enter Username</mat-label>
        <input matInput placeholder="Eg. Will Smith">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Enter Username</mat-label>
        <input type="password" matInput placeholder="Eg. Your Secret">
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button class="w-full" mat-raised-button color="primary">Log In</button>
    </div>
  </main>
</div>
