<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Pos Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="dashboard"><mat-icon class="align-sub">dashboard</mat-icon> Dashboard</a>
      <a mat-list-item href="#" routerLink="customers"><mat-icon class="align-sub">diversity_3</mat-icon> Manage Customers</a>
      <a mat-list-item href="#" routerLink="items"><mat-icon class="align-sub">checklist</mat-icon> Manage Items</a>
      <a mat-list-item href="#" routerLink="orders/new"><mat-icon class="align-sub">shopping_cart</mat-icon> Place Order</a>
      <a mat-list-item href="#" routerLink="orders"><mat-icon class="align-sub">search</mat-icon> Search Orders</a>
      <a mat-list-item href="#" class="align-sub"><mat-icon class="align-sub">logout</mat-icon> Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="flex justify-center md:justify-between items-center w-full">
        <span><span class="inline-block p-2 cursor-pointer hover:bg-sky-900/70 rounded-lg" routerLink="dashboard">POS</span> |  {{activatedRoute}}</span>
        <span class="hidden md:inline">{{datetime|date: 'medium'|uppercase}}</span>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
